/debian/ce-phoenix-installer.debhelper.log
/debian/ce-phoenix-installer.substvars
/debian/ce-phoenix.debhelper.log
/debian/debhelper-build-stamp
/debian/ce-phoenix.postrm.debhelper
/debian/ce-phoenix.substvars
/debian/.debhelper/
/debian/ce-phoenix/
/debian/ce-phoenix-installer/
/.github/
/debian/ce-phoenix-admin.debhelper.log
/debian/ce-phoenix-admin.substvars
/debian/ce-phoenix-admin/
/deb/

/vendor/
/ext/composer/
