/debian/phoenix-cart-installer.debhelper.log
/debian/phoenix-cart-installer.substvars
/debian/phoenix-cart.debhelper.log
/debian/debhelper-build-stamp
/debian/phoenix-cart.postrm.debhelper
/debian/phoenix-cart.substvars
/debian/.debhelper/
/debian/phoenix-cart/
/debian/phoenix-cart-installer/
/.github/
/debian/phoenix-cart-admin.debhelper.log
/debian/phoenix-cart-admin.substvars
/debian/phoenix-cart-admin/
/deb/

/vendor/
/ext/composer/
/nbproject/private/
/debian/phoenix-cart/
/debian/phoenix-cart-installer/
/debian/phoenix-cart-admin/
/debian/phoenix-cart-csob.debhelper.log
/debian/phoenix-cart-csob.substvars
/debian/phoenix-cart-csob/
/.vagrant/
/.vscode/

includes/configure.php
admin/includes/configure.php
